.imgs {
    position: absolute;
    top: 20px;
    margin-top: -5em;
    display: flex;
    align-items: center;
}

.imgs .img-etec {
    max-height: 10em;
    width: auto;
}

.imgs .img-cps {
    max-height: 20em;
    width: auto;
}

