@import url(./variaveis.css);
.meu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  
  .meu-card {
    background: var(--cor-fundo-card);
    border: 1px solid var(--cor-borda);
    border-radius: var(--borda-arredondada);
    box-shadow: var(--sombra-card);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .subtitulo {
    color: var(--cor-texto-suave);
    margin-bottom: 15px;
  }