 /* Estilo padrão do botão */
  .ButtonSemana {
    background-color: lightgray;
    color: black;
    border: 0;
    border-radius: 16rem;
    padding: 8px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
  
  /* Estilo modificado após o clique */
  .ativo {
    background-color: #A3130D;
    color: white;
    border: 0;
    border-radius: 16rem;
    padding: 8px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }